@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Reset overrides if needed */
body {
  font-family: 'Lato', sans-serif;
  color: #1A1A1A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}